node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Package managers
package-lock.json
npm-shrinkwrap.json
yarn.lock
bun.lock
bun.lockb

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# vscode
.vscode

# playwright
.playwright-mcp/